server {
  server_name {{ app_domain }};

  # Serve static files from the "public" directory
  location /images/ {
      alias /home/{{ deploy_user }}/{{ app_name }}/public/images/;
  }

  # Reverse proxy for the Node.js application
  location / {
      proxy_pass http://localhost:3000; # The address of the Node.js app
      proxy_http_version 1.1;
      proxy_set_header Upgrade $http_upgrade;
      proxy_set_header Connection 'upgrade';
      proxy_set_header Host $host;
      proxy_cache_bypass $http_upgrade;
  }

  # Allow uploads up to 100MB in size
  client_max_body_size 100m;

  location ~ ^/(assets|packs) {
    expires max;
    gzip_static on;
  }

  location ^~ /.well-known/acme-challenge/ {
    break;
  }

    listen [::]:443 ssl ipv6only=on;
    listen 443 ssl;
    ssl_certificate /etc/letsencrypt/live/{{ app_domain }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ app_domain }}/privkey.pem;
    #include /etc/letsencrypt/options-ssl-nginx.conf; # managed by Certbot
    #ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem; # managed by Certbot
}

server {
    if ($host = {{ app_domain }}) {
        return 301 https://$host$request_uri;
    } # managed by Certbot

  listen 80;
  listen [::]:80;

  server_name {{ app_domain }};
    return 404;
}
